.login{
    -webkit-box-shadow: 1px 0px 12px #696969;
    background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0 !important;
    position: absolute;
    top: 25%;
    min-height: 300px;
    left:25%;
}

.backpic{
    background: url(img/loginback-wzbc-1.jpg) ;
    background-size:100% 100% ;
    background-attachment: fixed
}